{% extends 'api_testor/base.html' %}

{% block title %}Создание теста{% endblock %}
{% block main %}
    {% if mess %}<strong>{{ mess }}</strong>{% endif %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form1 }}
        </table>
        <h2>Варианты ответов</h2>
            <p>{{ form2.as_p }}</p>

    <button class='btn btn-primary' type="submit" name="next">Сохранить и создать новый</button>
    <button class="btn bg-danger" type="submit">Сохранить и закончить</button>

    </form>
    <a href="{% url 'api_test_list' %}"><button class="btn bg-warning">Выйти</button></a>
{% endblock %}